
body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #ffffff 0%, #00dbde 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

form{
  width: 476px;
}
label{
    margin-bottom: 1px;
    margin-left: 20px;
}

h1 {
    display: flex;
    margin-bottom: 20px;
    color: #000000;
    justify-content: center;
}

.input-padrao {
    width: 200px;
    padding: 10px;
    color: rgb(0, 92, 8);
    margin-left: 0;
    margin-top: 1px;
    border-radius: 5px;
    border: 1px solid;
    margin-bottom: 1px;
}
.input-padrao select{
  width: 220px;
}

input:hover, textarea:hover, input:focus, textarea:focus, select:hover, .Enviar:hover {
    border-color: #004400;
    box-shadow: 5px 0px 9px #09ff00;
    background-color: #66FFFF;
    color: black;
    font-weight: bold;
}

.Enviar, .limpar, .button-termos {
    background-color: #66FFFF;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid;
    color: black;
}


textarea {
    width: 200px;
    height: 40px;
    line-height: 20px;
    max-width: 400px;
}


fieldset{
    width: 500px;
    border: 0;
    display: inline-block;
    
}
.campo{
  padding-bottom: 20px;
  position: relative;
}
.campo label{
 margin: 0 0 0.2em 0;
 display: block;
}
fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo i {
    position: absolute;
    top: 35px;
    right: 10px;
    visibility: hidden;
  }
  
  .campo small {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left:25px;
    visibility: hidden;
  }

  .campo.error input {
    border-color: #e74c3c;
  }
  
  .campo.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
  }
  
  .campo.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
  }
  
  .campo.error small {
    visibility: visible;
    color: #e74c3c;
    margin: 0;
  }
  .buttons{
    text-align: center;
    margin: 0
  }
  .termos{
    display: inline-block;
    width: 40%;
    text-align: center;
    padding: 0 0 0 15px;
    margin-top: 0;
  }
  .div-check{
    display: inline-block;
    position: relative;   
    vertical-align: top;
    right: 0;
    margin-left: 50px;
  }
  .div-check legend{
    margin-left: 0;
    display: block;
    font-weight: bold;
    text-align: center;
  }
  .div-check label{
    margin-left: 0;
  }



/* Estilo para o fundo da tela */
.background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* Estilo para a pop-up */
.popup {
  height: 80%;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  z-index: 2;
  width: 400px; /* Largura máxima */
  max-width: 90%;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical se o conteúdo for longo */
}

.popup h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.popup p {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

/* Estilo para o botão de fechar */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #777;
  cursor: pointer;
}

.close:hover {
  color: #333;
}

/* Estilo para o link de abrir a pop-up */
#openPopup {
  text-decoration: underline;
  color: #0078d4;
  cursor: pointer;
}

#openPopup:hover {
  color: #0056b3;
}
.botao{
  text-align: right;
  padding: 0 10px 0 0 ;
}